@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

.container{
    padding: 60px;
    .head__text{
        h1{
            font-family: Work Sans;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #213F7D;
        }
        
    }
    .cards__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    
}
@media screen and (max-width: 1400px) {
    .container{
        padding: 30px 20px;
        
    }  
}
@media screen and (max-width: 1300px) {
    .container{
        padding: 30px;
        
        .cards__container{
            .cards{
                flex: 0 1 48%;
                margin-bottom: 16px;
  
            }
        }
    }  
}

@media screen and (max-width: 760px) {
    .container{
        padding: 20px;
        
        .cards__container{
            padding: 0 0 20px;
            .cards{
                flex: 0 1 100%;
                margin-bottom: 16px;
  
            }
        }
        
    }  
}
